
.coverage*
.DS_Store
.env
.ruff_cache/
.secret
.venv*
.vscode/
.venv-ci/*
*.egg-info
*.isorted
*.json
*.npy
*.py.isorted
**/__pycache__/
**/.eegdash_cache/
**/*/eegdash.egg-info/
*/*.npy
*/*/*.npy
# Exclude cloned dataset directories and JSON listings
# Generated dataset visualizations
#Mac files
build/
consolidated/
cover
data/
digestion_output/
dist/
docs/auto_examples/
docs/auto_tutorials/
docs/build/
docs/modules/generated/
docs/source/_static/dataset_generated/
docs/source/api/api_dataset.rst
docs/source/api/dataset/*.rst
docs/source/api/datasets/*.rst
docs/source/api/generated/
docs/source/gen_modules/
docs/source/generated/
docs/source/sg_execution_times.rst
docs/sphinxext/cachedir
eegdash-dataset-listings/
eegdash-datasets/
eegdash/data/
examples/data
examples/eeg2025/weights*
note
pip-log.txt
tags
test_diggestion/
tests/.testeegdash/
tests/data/
