# Clone and digest Zenodo datasets
name: "2. Digest: Zenodo"

on:
  workflow_run:
    workflows: ["1. Fetch: Zenodo"]
    types: [completed]
  workflow_dispatch:

jobs:
  digest:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/2-clone-digest.yml
    with:
      source_name: "Zenodo"
      consolidated_file: "zenodo_datasets.json"
      workers: 4
    secrets:
      DATASET_LISTINGS_TOKEN: ${{ secrets.DATASET_LISTINGS_TOKEN }}
