# Clone and digest data.ru.nl datasets
name: "2. Digest: data.ru.nl"

on:
  workflow_run:
    workflows: ["1. Fetch: data.ru.nl"]
    types: [completed]
  workflow_dispatch:

jobs:
  digest:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    uses: ./.github/workflows/2-clone-digest.yml
    with:
      source_name: "datarn"
      consolidated_file: "datarn_datasets.json"
      workers: 4
    secrets:
      DATASET_LISTINGS_TOKEN: ${{ secrets.DATASET_LISTINGS_TOKEN }}
